/* Selectores */

*{background-color: rgb(243, 154, 95);}

.imagen {border-radius: 2em;}

div {text-align: center;}

h1 { color: rgb(105, 12, 192);
font-family: roboto mono;}

h2 {color: rgb(105, 12, 192);
font-family: roboto mono;}

li {font-family: roboto mono;
font-weight: bold; align-items: center; list-style-position: inside;}

p {font-family: roboto mono;
font-weight: 300;}

label {font-family: roboto mono;
font-weight: bold;}

strong {font-style: italic; text-decoration: underline;}

.double {border: 5px double;
    padding: 5px;}


